*, *:after, *:before {
    margin: 0;
    padding: 0;
}

.borleft-teaser {
    border-left: 10px solid chocolate !important;
}

.borleft-gallery {
    border-left: 10px solid chartreuse !important;
}

.borleft-news {
    border-left: 10px solid dodgerblue !important;
}

.borleft-product {
    border-left: 10px solid tomato !important;
}

.gradient-background {
    color: white !important;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%) !important;
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
}

.ml10 .text-wrapper {
    color: white;
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

.svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

svg {
path {
    transition: .1s;
}

&:hover path {
     d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
 }
}

h3 {
    font-weight: 400;
}

header {
    color: #000;
    padding-top: 10vw;
    padding-bottom: 30vw;
    text-align: center;
}

main{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10vh 0 30vh;
    position: relative;
    text-align: center;
    overflow: hidden;

&::after {
     border-right: 2px dashed #eee;
     content: '';
     position: absolute;
     top: calc(10vh + 1.618em);
     bottom: 0;
     left: 50%;
     width: 2px;
     height: 100%;
 }
}

footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
}

small {
    opacity: .5;
    font-weight: 300;

a {
    color: inherit;
}
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.slider-wrapper {
    width: 2000px;
    height: 2000px;
    background: #000;
    overflow: hidden;
}

.inner-wrapper {
    width: 500%;
    height: 100%;
    position: relative;
    left: -100%;
}


.slide {
    width: calc(100%/5);
    height: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    float: left;
}

.button {
    border-top: 2px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .oke {
        width: 100%;
    }
}

.prev {
    border-left: 2px solid black;
    left: 10px;
    transform: rotate(-45deg);
}
.desc{
    font-size: 20px;
}

.next {
    border-right: 2px solid black;
    right: 10px;
    transform: rotate(45deg);
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fafafa;
}
body::before,
body::after {
    content: "";
    display: table;
    clear: both;
}
body * {
    box-sizing: inherit;
}
p, h1 {
    margin: 0; padding: 0;
}

body, .text-light-black {
    color: rgba(0,0,0,0.6);
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed{
    background: #000;
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Source Sans Pro', sans-serif;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.diluar {
    color: #007dff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 2%;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px !important;
}

.card_text {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

#slidy-container {
    width: 70%; overflow: hidden; margin: 0 auto; height: 50%;
}

.img-circle {
    border-radius: 50%;
    height: 230px;
    width: 230px;
}
